{% extends "ggit_platform/base_front.html" %}

{% block headtitle %}
  {{ event.title }}
{% endblock headtitle %}

{% block title %}
  {{ event.title }}
{% endblock title %}

{% block subtitle %}
  {{ event.subtitle }}
{% endblock subtitle %}

{% block heroimage %}
  {{ event.hero_image }}
{% endblock heroimage %}

{% block content %}
  {{ event.long_descriprion }}

  <!-- Region button -->
  <div class="cta cta-white">
    <div class="container">
      <a class="button button-outline" href="#">
        aplică acum
      </a>
    </div>
  </div>
  <!-- End of Region button -->

{% endblock content %}