{% extends "ggit_platform/front-base.html" %}

{% block headtitle %}
    {{ event.title }}
{% endblock headtitle %}

{% block title %}
    {{ event.title }}
{% endblock title %}

{% block subtitle %}
    {{ event.subtitle }}
{% endblock subtitle %}

{% block heroimage %}
    {{ event.hero_image }}
{% endblock heroimage %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="column">
                    <article class="article">
                        {{ event.markdown | safe }}
                    </article>
                </div>
            </div>
        </div>
    </section>

    <!-- Region button -->
    <div class="cta cta-white">
        <div class="container">
            <a class="button button-outline" href="{{event.apply_form}}">
                aplică acum
            </a>
        </div>
    </div>
    <!-- End of Region button -->

{% endblock content %}