{% extends "ggit_platform/front-base.html" %}

{% block headtitle %}
    head title
{% endblock headtitle %}

{% block title %}
    Title
{% endblock title %}

{% block subtitle %}
    Subtitle
{% endblock subtitle %}

{% block heroimage %}
    hero image
{% endblock heroimage %}

{% block content %}
    <section class="section">
        <div class="container">
            <article class="list-view">
                <div class="row">
                    <div class="column column-40">
                        <a class="preview" href="#">
                            <img src="thumbnail image">
                        </a>
                    </div>
                    <div class="column column-60">
                        <div class="content">
                            <h6>IULIE 26 2017</h6>
                            <a href="#">
                                <h3>Lorem ipsum dolor sit amet</h3>
                            </a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </p>
                            <a href="#" class="button button button-outline"> Apply Now </a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
{% endblock content %}