{% extends "ggit_platform/front-base.html" %}

{% block headtitle %}
    Evenimente
{% endblock headtitle %}

{% block title %}
    Toate evenimentele
{% endblock title %}

{% block subtitle %}
    Subtitle
{% endblock subtitle %}

{% block heroimage %}
    hero image
{% endblock heroimage %}

{% block content %}
    <section class="section">
        <div class="container">
            <article class="list-view">
                {% for event in events %}
                <div class="row">
                    <div class="column column-40">
                        <a class="preview" href="#">
                            <img src="{{event.thumbnail_image}}">
                        </a>
                    </div>
                    <div class="column column-60">
                        <div class="content">
                            <h6>{{ event.start_date }}</h6>
                            <a href="#">
                                <h3>{{ event.title }}</h3>
                            </a>
                            <p>{{ event.short_description }}
                            </p>
                            <a href="#" class="button button button-outline"> {{ event.apply_form }} Aplică Acum </a>
                        </div>
                    </div>
                </div>
                    {% endfor %}
            </article>
        </div>
    </section>
{% endblock content %}