{% extends "ggit_platform/admin-base.html" %}

{% block title %}
    Administrare Istorii
{% endblock title %}

{% block content %}
    <h1>Istorii</h1>
    <a class="button button-outline float-right" href="{% url 'story_new' %}">Adaugă Istorie</a>
    <table>
        <thead>
        <tr>
            <th>Titlu</th>
            <th>Regiune</th>
            <th>Data creării</th>
            <th>Acțiuni</th>
        </tr>
        </thead>
        <tbody>
        {% for story in stories %}
            <tr>
                <td>
                    <a href="{% url 'story_edit' id=story.id %}">
                        {{ story.title }}
                    </a>
                </td>
                <td>
                    {% if story.region %}
                        <a href="{% url 'region_edit' id=story.region.id %}">{{ story.region }}</a>
                    {% endif %}
                </td>
                <td>{{ story.create_date }}</td>
                <td class="actions">
                    <a href="{% url 'story_detail' id=story.id %}">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                    <form action="{% url 'story_delete' id=story.id %}" method="post">{% csrf_token %}
                        <button class="button button-clear"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}