{% extends "ggit_platform/base_admin.html" %}

{% block title %}
Administrare Istorii
{% endblock title %}

{% block content %}
<h1>Istorii</h1>

<table>
  <thead>
    <tr>
      <th>Titlu</th>
      <th>Regiune</th>
      <th>Data creării</th>
      <th>Acțiuni</th>
    </tr>
  </thead>
  <tbody>
    {% for story in stories %}
    <tr>
      <td><a href="{% url 'story_detail' id=story.id %}">{{ story.title }}</a></td>
      <td>
        {% if story.region %} 
        <a href="{% url 'region_detail' id=story.region.id %}">{{ story.region }}</a>
        {% endif %}
      </td>
      <td>{{ story.create_date }}</td>
      <td><a class="button button-outline" href="#">Șterge</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}