{% extends "ggit_platform/admin-base.html" %}

{% block title %}
    Administrare Regiuni
{% endblock title %}

{% block content %}

    <h2>Regiuni</h2>

    <a class="button button-outline float-right" href="{% url 'region_new' %}">Adaugă Regiune</a>
    <table>
        <thead>
        <tr>
            <th>Nume</th>
            <th class="">Acțiuni</th>
        </tr>
        </thead>
        <tbody>
        {% for region in regions %}
            <tr>
                <td>
                    <a href="{% url 'region_edit' id=region.id %}">
                        {{ region.name }}
                    </a>
                </td>

                <td class="actions">
                    <a href="{% url 'region_detail' id=region.id %}">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                    <form action="{% url 'region_delete' id=region.id %}" method="post">{% csrf_token %}
                        <button class="button button-clear"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}