{% extends  "ggit_platform/admin-base.html" %}

<h1>
    {% block title %}
        Regiunea {{ region.name }}
    {% endblock title %}
</h1>

{% block content %}
<div class="margin-bottom:50px">
    <div class="row">
        <div class="column"></div>
        <div class="column"><h2>Regiunea {{ region.name }}</h2></div>
        <div class="column"></div>
    </div>
</div>    
    <table style="padding-bottom: 70px">
        <thead>
        <tr>
            <th>Emblema</th>
            <th>Motto</th>
            <th>Descriere</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ region.thumbnail_image }}</td>
            <td>{{ region.motto }}</td>
            <td>{{ region.description }}</td>
        </tr>

        </tbody>

    </table>


<div class="row">
    <div class="column"></div>
    <div class="column"><h3>Membrii regiunii {{ region.name }}</h3></div>
    <div class="column"><a class="button button-outline float-right" href="{% url 'member_new' %}">Adaugă Membru</a></div>
</div>
    
    

    <table style="padding-bottom: 70px">
        <thead>
        <tr>
            <th>Nume, Prenume</th>
            <th>Pagina personală</th>
            <th>Acțiuni</th>
        </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td><a href="{% url 'member_detail' id=member.id %}">{{ member.name }} {{ member.surname }}</a></td>
                <td><a href="{{ member.personal_page }}">{{ member.personal_page }}</a></td>
                <td><a class="button button-outline" href="#">Șterge</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


<div class="row">
        <div class="column"></div>
        <div class="column"> <h3>Evenimente din {{ region.name }}</h3></div>
        <div class="column"> <a class="button button-outline float-right" href="{% url 'event_new' %}">Adaugă eveniment</a></div>
</div>

    <table style="padding-bottom: 70px">
        <thead>
        <tr>
            <th>Titlu</th>
            <th>Regiune</th>
            <th>Începutul evenimentului</th>
            <th>Acțiuni</th>
        </tr>
        </thead>

        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{% url 'event_detail' id=event.id %}">{{ event.title }}</a></td>
                <td>
                    {% if event.region %}
                        <a href="{% url 'region_detail' id=event.region.id %}">{{ event.region }}</a>
                    {% endif %}
                </td>
                <td>{{ event.start_date }}</td>
                <td><a class="button button-outline" href="#">Șterge</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>




{% endblock content %}

