{% extends "ggit_platform/base_front.html" %}
{% load staticfiles %}

{% block headtitle %}
{{ region.name }}
{% endblock headtitle %}

{% block pretitle %}
<p class="date">26 JULY 2017</p>
{% endblock pretitle %}

{% block title %}
Summer Engineering and Technology Camp for Girls
{% endblock title %}

{% block subtitle %}
Leverage agile frameworks to provide a robust synopsis for high level overviews
{% endblock subtitle %}

{% block heroimage %}
{% static "ggit_platform/img/hero/home.jpg" %}
{% endblock heroimage %}

{% block content %}
    <!-- Region description-->

    <section>
        <div class="container">
            <div class="row">
                <div class="column">
                    <p class="about-region"> 
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- End of Region description -->


    <!-- Members -->

    <section class="members section section-gray"> 

        <!-- Section title -->

        <header class="section-title">
            <h2>
                Members
            </h2>
            <p>
                Lorem ipsum amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut. 
            </p>
        </header>

        <!-- End of Section title -->

        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="member">
                        <a href="#"> 
                            <img src="static/img/members/1.jpg"> 
                            <h3> Jamie Price </h3>
                        </a>
                        <h6>
                            Ambasador
                        </h6>
                    </div>
                </div>
                <div class="column">
                    <div class="member">
                        <a href="#"> 
                            <img src="static/img/members/2.jpg"> 
                            <h3> Brandie Stone </h3>
                        </a>
                        <h6>
                            Ambasador
                        </h6>
                    </div>
                </div>
                <div class="column">
                    <div class="member">
                        <a href="#"> 
                            <img src="static/img/members/3.jpg"> 
                            <h3> Bessie Patterson </h3>
                        </a>
                        <h6>
                            Ambasador
                        </h6>
                    </div>
                </div>
                <div class="column">
                    <div class="member">
                        <a href="#"> 
                            <img src="static/img/members/4.jpg"> 
                            <h3> Regina Walters </h3>
                        </a>
                        <h6>
                            Ambasador
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <!-- Members -->

    <!-- List view -->

    <section class="section">
        <!-- Section title -->

        <header class="section-title">
            <h2>
                Events
            </h2>
            <p>
                Lorem ipsum amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut. 
            </p>
        </header>

        <!-- End of Section title -->
        <div class="container">
            <article class="list-view">
                <div class="row">
                    <div class="column column-40" >
                        <a class="preview" href="#">
                            <img src="static\img\Listview\event-1.jpg">
                        </a>
                    </div>
                    <div class="column column-60"> 
                        <div class="content">
                            <h6>IULIE 26 2017</h6>
                            <a href="#">    
                                <h3>Lorem ipsum dolor sit amet</h3> 
                            </a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </p>
                            <a href="#" class="button button button-outline"> Apply Now </a>
                        </div>
                    </div>
                </div>
            </article>
            <article class="list-view">
                <div class="row">
                    <div class="column column-40">
                        <a class="preview" href="#">
                            <img src="static\img\Listview\event-2.jpg">
                        </a>
                    </div>
                    <div class="column column-60">
                        <div class="content">
                            <h6>IULIE 26 2017</h6>
                            <a href="#">    
                                <h3>Lorem ipsum dolor sit amet</h3> 
                            </a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </p>
                            <a href="#" class="button button button-outline"> Apply Now </a>
                        </div>
                    </div>
                </div>
            </article>
            <article class="list-view">
                <div class="row">
                    <div class="column column-40">
                        <a class="preview" href="#">
                            <img src="static\img\Listview\event-3.jpg">
                        </a>
                    </div>
                    <div class="column column-60">
                        <div class="content">
                            <h6>IULIE 26 2017</h6>
                            <a href="#">    
                                <h3>Lorem ipsum dolor sit amet</h3> 
                            </a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </p>
                            <a href="#" class="button button button-outline"> Apply Now </a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- End of List view -->
    
    <!-- List view -->

    <section class="section">
        <!-- Section title -->

        <header class="section-title">
            <h2>
                Stories
            </h2>
            <p>
                Lorem ipsum amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut. 
            </p>
        </header>

        <!-- End of Section title -->
        <div class="container">
            <article class="list-view">
                <div class="row">
                    <div class="column column-40" >
                        <a class="preview" href="#">
                            <img src="static\img\Listview\event-1.jpg">
                        </a>
                    </div>
                    <div class="column column-60"> 
                        <div class="content">
                            <h6>IULIE 26 2017</h6>
                            <a href="#">    
                                <h3>Lorem ipsum dolor sit amet</h3> 
                            </a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </p>
                            <a href="#" class="button button button-outline"> Apply Now </a>
                        </div>
                    </div>
                </div>
            </article>
            <article class="list-view">
                <div class="row">
                    <div class="column column-40">
                        <a class="preview" href="#">
                            <img src="static\img\Listview\event-2.jpg">
                        </a>
                    </div>
                    <div class="column column-60">
                        <div class="content">
                            <h6>IULIE 26 2017</h6>
                            <a href="#">    
                                <h3>Lorem ipsum dolor sit amet</h3> 
                            </a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </p>
                            <a href="#" class="button button button-outline"> Apply Now </a>
                        </div>
                    </div>
                </div>
            </article>
            <article class="list-view">
                <div class="row">
                    <div class="column column-40">
                        <a class="preview" href="#">
                            <img src="static\img\Listview\event-3.jpg">
                        </a>
                    </div>
                    <div class="column column-60">
                        <div class="content">
                            <h6>IULIE 26 2017</h6>
                            <a href="#">    
                                <h3>Lorem ipsum dolor sit amet</h3> 
                            </a>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </p>
                            <a href="#" class="button button button-outline"> Apply Now </a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <!-- End of List view -->

{% endblock content %}
