{% extends "ggit_platform/base_front.html" %}
{% load staticfiles %}

{% block headtitle %}
    {{ region.name }}
{% endblock headtitle %}

{% block title %}
    {{ region.name }}
{% endblock title %}

{% block subtitle %}
    {{ region.motto }}
{% endblock subtitle %}

{% block heroimage %}
    {{ region.hero_image }}
{% endblock heroimage %}

{% block content %}
    <!-- Region description-->

    <section>
        <div class="container">
            <div class="row">
                <div class="column">
                    <p class="about-region">
                        {{ region.description }}
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- End of Region description -->


    <!-- Members -->
    <section class="members section section-gray">

        <!-- Section title -->

        <header class="section-title">
            <h2>
                Members
            </h2>
            <p>
                Lorem ipsum amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            </p>
        </header>

        <!-- End of Section title -->

        <div class="container">
            <div class="row">
                {% for member in members %}
                    <div class="column">
                        <div class="member">
                            <a href="#">
                                <img src="{{ member.photo }}">
                                <h3> {{ member.name }} {{ member.surname }} </h3>
                            </a>
                            <h6>
                                {{ member.role }}
                            </h6>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <!-- Members -->

    <!-- List view -->

    <section class="section">
        <!-- Section title -->

        <header class="section-title">
            <h2>
                Events
            </h2>
            <p>
                Lorem ipsum amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            </p>
        </header>

        <!-- End of Section title -->
        <div class="container">
            <article class="list-view">
                <div class="row">
                    {% for event in events %}
                        <div class="column column-40">
                            <a class="preview" href="#">
                                <img src="{{ event.thumbnail_image }}">
                            </a>
                        </div>
                        <div class="column column-60">
                            <div class="content">
                                <h6> {{ event.start_date }} </h6>
                                <a href="#">
                                    <h3> {{ event.name }} </h3>
                                </a>
                                <p>
                                    {{ event.short_description }}
                                </p>
                                <a href="#" class="button button button-outline"> Read more </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </article>
        </div>
    </section>
    <!-- End of List view -->

    <!-- List view -->

    <section>
        <header class="section-title">
            <h2>Stories</h2>
            <p>
                Lorem ipsum amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            </p>
        </header>
        <div class="container">
            {% for story in stories %}
                <article class="list-view">
                    <div class="row">
                        <div class="column column-40">
                            <a class="story-preview" href="#">
                                <img src="{{ story.thumbnail_image }}" alt="Story thumbnail_image image">
                            </a>
                        </div>
                        <div class="column column-60">
                            <div class="content">
                                <h6>{{ story.create_date }}</h6>
                                <a href="#">
                                    <h3>{{ story.title }}</h3>
                                </a>
                                <p>
                                    {{ story.short_description }}
                                </p>
                                <a href="{% url 'story_detail' id=story.id %}" class="button button button-outline"> Mai
                                    Mult </a>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
    <!-- End of List view -->

{% endblock content %}
