{% extends "ggit_platform/base_admin.html" %}

{% block title %}
    Administrare Regiuni
{% endblock title %}

{% block content %}

    <h2>Regiuni</h2>

    <a class="button button-outline float-right" href="{% url 'region_new' %}">Adaugă Regiune</a>
    <table>
        <thead>
        <tr>
            <th>Nume</th>
            <th>Acțiuni</th>
        </tr>
        </thead>
        <tbody>
        {% for region in regions %}
            <tr>
                <td>
                    <a href="{% url 'region_edit' id=region.id %}">
                        {{ region.name }}
                    </a>
                </td>

                <td>
                    <div class="row">
                        <div class="column">
                            <a href="{% url 'region_detail' id=region.id %}"><i class="fa fa-eye"
                                                                                aria-hidden="true"></i></i></a>
                        </div>
                        <div class="column">
                            <a href="{% url 'region_delete' id=region.id %}"><i class="fa fa-trash"
                                                                                aria-hidden="true"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}