container_commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true

  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
    leader_only: true

  04_load_backup_command_to_bashrc:
    command: if ! grep -q "source /opt/python/current/env" /home/ec2-user/.bashrc; then echo "source /opt/python/current/env" >> /home/ec2-user/.bashrc; fi

  05_allow_commands_to_execute_with_sudo:
    command: echo Defaults:root \!requiretty >> /etc/sudoers

  06_create_admin_user:
    command: "source /opt/python/run/venv/bin/activate && python manage.py createadmin"
    leader_only: true


option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "girlsgoit.settings.production"
    PYTHONPATH: "/opt/python/current/app:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "girlsgoit/wsgi.py"
    NumProcesses: 3
    NumThreads: 20