{% extends "ggit_platform/admin-base.html" %}

{% block title %}
    Administrare Blocuri
{% endblock %}

{% block content %}
    <div class="row">
        <div class="column">
            <h1>Blocuri de învățare</h1>
        </div>
        <div class="column">
            <a class="button button-outline float-right" href="{% url 'track_new' %}">Adaugă Bloc</a>
        </div>
    </div>

    <table>
        <thead>
        <tr>
            <th>Nume</th>
            <th>Acțiuni</th>
        </tr>
        </thead>
        <tbody>
        {% for track in tracks %}
            <tr>
                <td>
                    <a href="{% url 'track_edit' id=track.id %}">
                        {{ track.title }}
                    </a>
                </td>
                <td>
                    <form method="POST" action="{% url 'track_delete' id=track.id %}">{% csrf_token %}
                        <button class="button button-outline">Șterge</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}