{% extends "ggit_platform/front-base.html" %}

{% load staticfiles %}

{% block headtitle %}
    {{ track.title }}
{% endblock headtitle %}

{% block title %}
    {{ track.title }}
{% endblock title %}

{% block subtitle %}
    {{ track.subtitle }}
{% endblock subtitle %}

{% block heroimage %}
    {{ track.hero_image }}
{% endblock heroimage %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="column">
                    <article class="article">
                        {{ track.markdown | safe }}
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
