{% extends "ggit_platform/base_admin.html" %}

{% block title %} 
Administrare Blocuri 
{% endblock %} 

{% block content %}
<h1>Blocuri de învățare</h1>

<table>
    <thead>
        <th>Nume</th>
        <th>Acțiuni</th>
    </thead>
    <tbody>
        {% for track in tracks %}
        <tr>
            <td> 
                <a href="{% url 'track_detail' id=track.id %}"> 
                    {{ track.title }}
                </a>
            </td>
            <td><a class="button button-outline" href="#">Șterge</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table> 
{% endblock content %}