{% extends "ggit_platform/front-base.html" %}
{% load staticfiles %}

{% block headtitle %}
    Home page
{% endblock headtitle %}

{% block pretitle %}
{% endblock pretitle %}

{% block title %}
  Tabăra de Vară STEM
  <br />
  65 de participante, 3 secțiuni
{% endblock title %}

{% block subtitle %}
  Oferim acces și educație tinerelor din Moldova în domeniul tehnologiilor
{% endblock subtitle %}

{% block heroimage %}
    {% static "ggit_platform/img/hero/home.jpg" %}
{% endblock heroimage %}

{% block content %}
    <!-- About -->
    <section class="section-wide about">
        <div class="container">
            <div class="row">
                <div class="column">
                    <h2>Despre GirlsGoIT</h2>
                    <p>
                        Misiunea GirlsGoIT este de a dezvolta competențele tehnice ale tinerelor din Moldova, de a le facilita accesul în sectoarele STEM (științe, tehnologii, inginerie și matematică) și de a promova implicarea femeilor în domeniile tehnice!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End of About -->

    <!-- Tracks -->
    <section class="section section-gray">
        <header class="section-title">
            <h2>Secțiuni</h2>
            <p>
              Dezvoltare Web Frontend și Backend, Robotică și Imprimare 3D.
            </p>
        </header>

        <div class="container">
            <div class="row">
                {% for track in tracks %}
                    <div class="column">
                        <div class="track-preview">
                            <img src="{{ track.icon }}" alt="Track icon image">
                            <h4>{{ track.title }}</h4>
                            <p> {{ track.short_description }}  </p>
                            <a href="{% url 'track_detail' id=track.id %}"> read more</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End of Tracks -->

    <!-- Regions -->
    <section class="regions section">
        <header class="section-title">
            <h2>
                Regiuni
            </h2>
            <p>
              Programul GirlsGoIT este prezent în 13 regiuni ale Republicii Moldova.
            </p>
        </header>


        <div class="container">
            <div class="row">
                {% for region in regions %}
                    <div class="column region-column">
                        <a href="{% url 'region_detail' id=region.id %}" class="region-preview">
                            <img src="{{ region.thumbnail_image }}">
                            <h3>{{ region.name }}</h3>
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:4 %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
                </div>
            <div class="row">
                <div class="column">
                    <!-- Region Button -->
                    <div class="cta">
                        <p>Nu ți-ai regăsit localitatea ta în listă?</p>
                        <a class="button button-outline" href="#">
                         Dezvoltă un club local <<span>GirlsGoIT</span>!</a>
                    </div>
                    <!-- Region Button -->
                </div>
            </div>
        </div>

        </div>
    </section>
    <!-- End of Regions -->

    <!-- Events -->
    <section class="events section">
        <header class="section-title">
            <h2>Evenimente</h2>
            <p>
              Nu rata oportunitățile noastre! Fii la curent cu toate evenimentele.
            </p>
        </header>
        <div class="container">
            <div class="row">
                <div class="column event-preview-column">
                    {% if last_event.id %}
                        <a href="{% url 'event_detail' id=last_event.id %}">
                            <article class="event-preview">
                                <div class="thumb">
                                    <img src="{{ last_event.thumbnail_image }}">
                                    <div class="overlay">
                                        <h3>{{ last_event.title }}</h3>
                                    </div>
                                </div>
                                <div class="details clearfix">
                                    <h5 class="date float-left">{{ last_event.start_date }}</h5>
                                    <h5 class="type float-right">{{ last_event.end_date }}</h5>
                                </div>
                            </article>
                        </a>
                    {% endif %}
                </div>

                <div class="column event-preview-column">
                      {% if upcoming_q.id %}
                        <a href="{% url 'event_detail' id=upcoming_event.id %}">
                            <article class="event-preview">
                                <div class="thumb">
                                    <img src="{{ upcoming_event.thumbnail_image }}">
                                    <div class="overlay">
                                        <h3>{{ upcoming_event.title }}</h3>
                                    </div>
                                </div>
                                <div class="details clearfix">
                                    <h5 class="date float-left">{{ upcoming_event.start_date }}</h5>
                                    <h5 class="type float-right">{{ upcoming_event.end_date }}</h5>
                                    {% if upcoming_event.short_description > 100 %}
                                        <a href="{% url 'event_detail' id=upcoming_event.id %}">Mai mult</a>
                                    {% endif %}
                                </div>
                            </article>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <!-- Events Button -->
                <div class="cta">
                    <a class="button button-outline" href=" {% url 'event_list' %}">Toate evenimentele</a>
                </div>
                <!-- Events Button -->
            </div>
        </div>
    </section>
    <!-- End of Events -->
    <!-- Latest stories -->
    <section>
        <header class="section-title">
            <h2>Istorii</h2>
            <p>
              Citește istoriile fetelor pasionate de tehnologii informaționale.
            </p>
        </header>
        <div class="container">
            {% for story in last_stories %}
                <article class="list-view">
                    <div class="row">
                        <div class="column column-40">
                            <a class="story-preview" href="#">
                                <img src="{{ story.thumbnail_image }}" alt="Story thumbnail_image image">
                            </a>
                        </div>
                        <div class="column column-60">
                            <div class="content">
                                <h6>{{ story.create_date }}</h6>
                                <a href="#">
                                    <h3>{{ story.title }}</h3>
                                </a>
                                <p>
                                    {{ story.short_description }}
                                </p>
                                <a href="{% url 'story_detail' id=story.id %}" class="button button button-outline"> Mai
                                    Mult </a>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
    <!-- End of latest stories -->
{% endblock content %}
