{% extends "ggit_platform/base_admin.html" %}

{% block title %}
Administrare  Membri
{% endblock title %}

{% block content %}
<h1>Membri</h1>

<table>
  <thead>
    <tr>
      <th>Nume, Prenume</th>
      <th>Regiune</th>
      <th>Acțiuni</th>
    </tr>
  </thead>
  <tbody>
    {% for member in members %}
    <tr>
      <td><a href="{% url 'member_detail' id=member.id %}">{{ member.name }} {{ member.surname }}</a></td>
      <td><a href="{% url 'region_detail' id=member.region.id %}">{{ member.region }}</a></td>
      <td><a class="button button-outline" href="#">Șterge</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}